{
	"presets": [
		["@babel/preset-env", {
			"useBuiltIns": "entry",
			"corejs": 3,
			"targets": {
				"browsers": "last 10 Chrome versions"
			}
		}]
	],
	"plugins": [
		"@babel/plugin-transform-runtime",
		"@babel/plugin-syntax-class-properties",
		"@babel/plugin-proposal-optional-chaining",
		"@babel/plugin-proposal-private-methods",
		"@babel/plugin-proposal-class-properties"
	]
}
