{
	"presets": [
		["@babel/preset-env", {
			"useBuiltIns": "usage",
			"corejs": 3
		}]
	],
	"plugins": [
		"@babel/plugin-transform-runtime",
		"@babel/plugin-syntax-class-properties",
		"@babel/plugin-proposal-optional-chaining",
		"@babel/plugin-proposal-private-methods",
		"@babel/plugin-proposal-class-properties"
	]
}
