@font-face {
	font-family: "Fira Code Light";
	font-weight: lighter;
	src: url("†/assets/fonts/FiraCode-Light.woff2");
}

@font-face {
	font-family: "Fira Code";
	font-weight: normal;
	src: url("†/assets/fonts/FiraCode-Regular.woff2");
}

@font-face {
	font-family: "Fira Code Medium";
	font-weight: bold;
	src: url("†/assets/fonts/FiraCode-Medium.woff2");
}

@font-face {
	font-family: "Fira Code Bold";
	font-weight: bold;
	src: url("†/assets/fonts/FiraCode-SemiBold.woff2");
}

@font-face {
	font-family: "Fira Code Bolder";
	font-weight: bolder;
	src: url("†/assets/fonts/FiraCode-Bold.woff2");
}