@import "†/assets/styles/reset.scss";
@import "†/assets/styles/fonts.scss";
@import "†/assets/styles/code-highlight.scss";

$blue: #456DA0;
$clear: #EFEFEF;
$dark: #222;

html {
	font-family: "Fira Code";
	font-size: 10px;
	background-color: $clear;

	@media screen and (max-width: 400px){
		font-size: 8px;
	}

	body {

		.logo {
			height: 45vh;
			background-color: $blue;

			header {
				height: 100%;

				h1 {
					position: absolute;
					color: transparent;

					&::selection {
						opacity: 0;
					}
				}

				canvas {
					display: block;
					width: 100%;
					height: 100%;
				}
			}

			pre {
				display: none;
				box-sizing: border-box;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				border-radius: 0;
				overflow: auto;
			}

			.toggle-code {
				position: absolute;
				right: 1.5rem;
				bottom: 1.5rem;
				border: 1px solid rgba(#FFF, 0.2);
				width: 3rem;
				height: 3rem;
				border-radius: 2.5rem;
				background-color: rgba(#FFF, 0.5);
				cursor: pointer;

				&:hover {
					background-color: rgba(#FFF, 0.8);
				}

				&::before,
				&::after {
					position: absolute;
					left: 50%;
					top: 50%;
					display: block;
					font-size: 1.5rem;
					color: $blue;
					font-family: "Fira Code Bolder";
					text-shadow: 0 0 1px #FFF;
				}

				&::before {
					content: "<";
					transform: translate(-105%, -50%);
				}

				&::after {
					content: ">";
					transform: translate(5%, -50%);
				}
			}

			&.show-code pre {
				display: block;
			}
		}

		main {
			margin: 0 auto;
			padding: 0 5rem 10rem 5rem;
			max-width: 850px;

			@media screen and (max-width: 400px){
				padding: 0 2rem 5rem 2rem;
			}

			section {
				margin-top: 8rem;

				h2 {
					font-family: "Fira Code Bolder";
					font-size: 3rem;
					color: #333;
				}

				.content {
					margin: 0 auto;

					p {
						margin-top: 2rem;
						font-size: 1.5rem;
						line-height: 3rem;
						letter-spacing: -0.1rem;

						&.warning {
							padding: 1rem 2rem;
							border-radius: 1rem;
							background-color: #FFF;

							&::before {
								content: "⚠️";
								display: inline-block;
								margin-right: 0.5rem;
								font-size: 1.2em;
								vertical-align: middle;
							}
						}

						a {
							color: $blue;
						}
					}

					pre {
						margin-top: 2rem;
					}

					.tabs {
						margin-top: 2rem;

						pre {
							margin-top: 0;
							height: 100%;
						}
					}
				}
			}
		}

		footer {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			padding: 5rem;
			color: $dark;

			img {
				display: inline-block;
				margin-right: 2rem;
				width: auto;
				height: 30px;
			}

			p {
				font-family: "Fira Code Bold";
			}
		}
	}
}
